.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 20px 20px;
  justify-content: center;
  // height: 200px;
  @include tablet {
    align-items: center;
    padding: 150px 100px 100px 100px;
  }
  @include desktop {
    align-items: center;
    padding: 150px 100px 100px 100px;
  }
}

.hero-title {
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  color: $dark;
  @include tablet {
    font-size: 70px;
  }
  @include desktop {
    font-size: 70px;
  }
}

.hero-desc {
  color: $secondary;
  font-family: 'Roboto Condensed', sans-serif;
}
